.canvases {
  display: flex;
  // サイズ指定
  // todo debug
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;

  > .canvas {
    // サイズ指定
    flex: 1 1;

    // 背景色
    background-color: white;

    // 中央寄せ
    //display: flex;
    //justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      // 通常は非表示
      display: none;

      &.display {
        display: block;
      }
    }

    //.scale {
    //  zoom: 1.3;
    //}
  }
}