<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/res/js/CustomizedCanvas.js"></script>
    <script src="/res/js/Canvas.js"></script>
    <script src="/res/js/index.js"></script>
    <link href="/res/css/index.css" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="canvases">
<canvas class="canvas" is="customized-canvas" manifest="http://www2.dhii.jp/nijl/NIJL0015/049-0011/manifest.json"></canvas>
</div>
<!--<div class="fixed-action-btn">-->
<!--    <a class="btn-floating btn-large red" onclick="zoom()">-->
<!--        <i class="large material-icons">search</i>-->
<!--    </a>-->
<!--</div>-->
</body>
</html>